


/Makefile
A*/Makefile
Index_Example*/Makefile
Instanced_Example*/Makefile
shared/glfw**/Makefile
shared/imgui**/Makefile

build

*.a
*.o
*.swp
*.swo
*.idea
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcscmblueprint
*.DS_Store
imgui.ini
*.vscode

# Ignore Assignment binary names


/docs/proposal.*
!/docs/proposal.tex
/docs/report.*
!/docs/report.tex
!/docs/report.pdf


